name: Build & test NPM package
on:
  push:
    branches: [develop,master]
  pull_request:
    branches: [master]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16.x'

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build ngx-annotate-text '--configuration production'

      - name: Lint
        run: npm run lint ngx-annotate-text

      - name: Test
        run: npm run test-headless ngx-annotate-text
      
      - name: Build Angular demo app
        run: npm run build --prod
